@tailwind base;

/* >> custom components ============================================ */
@tailwind components;

/* << custom components ============================================ */


/* >> custom utilities ============================================= */
@tailwind utilities;

@responsive {
  .w-sidebar {
    width: 350px;
    min-width: 350px;
  }

  .w-main {
    max-width: calc(100% - 350px);
  }
}

/* >> custom utilities ============================================= */
