@tailwind base;

/* >> custom components ============================================ */
@tailwind components;

/* << custom components ============================================ */

/* >> custom utilities ============================================= */
@tailwind utilities;

.font-extralight {
  font-weight: 200;
}

@responsive {
  .w-sidebar {
    width: 350px;
    min-width: 350px;
  }

  .w-main {
    max-width: calc(100% - 350px);
  }
}

@media (min-width: 900px) {
  .lg\:top-sidebar {
    top: 3.95rem;
  }

  .home .card {
    width: 48%;
  }
}

/* >> custom utilities ============================================= */
