<!-- obsolete -->
<footer class="footer">

  <div class="footer-grid">

    <div class="main">

      <div class="footer-logo-title">
        <img src="{{uiRootPath}}/img/openapi-processor-p.svg" alt="logo" width="40px">
        <strong>openapi-processor</strong>
      </div>

      <div class="footer-license">
        <div><strong>License</strong></div>
        <div>
          openapi-processor packages spring, json & gradle are distributed by
          <a href="https://www.apache.org/licenses/LICENSE-2.0.txt"> Apache License 2.0</a>.
        </div>
      </div>

    </div>

    <div class="gh">
        <div class="footer-title">GitHub</div>

        <a class="navbar-link-icon" href="https://github.com/hauner/openapi-processor-spring">
          <img src="{{uiRootPath}}/img/GitHub-Mark-32px.png" alt="GitHub"> openapi-processor-spring
        </a>

        <a class="navbar-link-icon" href="https://github.com/hauner/openapi-processor-json">
          <img src="{{uiRootPath}}/img/GitHub-Mark-32px.png" alt="GitHub"> openapi-processor-json
        </a>

        <a class="navbar-link-icon" href="https://github.com/hauner/openapi-processor-gradle">
          <img src="{{uiRootPath}}/img/GitHub-Mark-32px.png" alt="GitHub"> openapi-processor-gradle
        </a>
    </div>

  </div>

</footer>
