{{!--    <title>{{{detag (or page.title defaultPageTitle)}}}{{#if site.title}} :: {{site.title}}{{/if}}</title> --}}
    <title>{{{detag (or page.title page.attributes.title)}}}{{#if site.title}} :: {{site.title}}{{/if}}</title>
