<meta charset="utf-8">
<title>{{{detag (or page.title 'openapi-processor')}}}{{#with site.title}} :: {{this}}{{/with}}</title>

<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

<link rel="icon" type="image/png" href="{{{uiRootPath}}}/img/favicon.ico">
<link rel="stylesheet" href="{{{uiRootPath}}}/css/oap.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/fontawesome.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/solid.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/regular.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/brands.css">
