<footer class="p-6 mt-4 border footer sticky" style="bottom: -20rem">

  <div class="text-gray-700 text-sm flex justify-between">

    <div class="flex-none w-48 mr-12">
      <img src="{{uiRootPath}}/img/openapi-processor-large.png" alt="logo" class="h-24 w-48">

      <div class="text-xs text-center">&#169; 2019-2025 Martin Hauner</div>
    </div>

    <div class="flex justify-between flex-col lg:flex-row">

      <div class="flex flex-col mb-4 mr-0 mr-12">
        <div class="font-bold">Twitter</div>

        <a class="" href="https://twitter.com/OpenApiProcess">
          <i class="fab fa-twitter"></i> @OpenApiProcess
        </a>

        <div class="mt-2 font-bold">Mastodon</div>

        <a class="" href="https://fosstodon.org/@OpenApiProcess">
          <i class="fab fa-mastodon"></i> @OpenApiProcess
        </a>
      </div>

      <div class="flex flex-col mb-4 mr-0 mr-12">
        <div class="font-bold">Samples - GitHub</div>

        <a class="" href="https://github.com/openapi-processor/openapi-processor-samples">
          <i class="fab fa-github"></i> oap-samples
        </a>
      </div>

      <div class="flex flex-col mb-4 mr-0 mr-12">
        <div class="font-bold">Plugins - GitHub</div>

        <a class="" href="https://github.com/openapi-processor/openapi-processor-maven">
          <i class="fab fa-github"></i> oap-maven
        </a>

        <a class="" href="https://github.com/openapi-processor/openapi-processor-gradle">
          <i class="fab fa-github"></i> oap-gradle
        </a>

        <a class="" href="https://github.com/openapi-processor/openapi-processor-intellij">
          <i class="fab fa-github"></i> oap-intellij
        </a>
      </div>

      <div class="flex flex-col mr-12">
        <div class="font-bold">Processors - GitHub</div>

        <a class="" href="https://github.com/openapi-processor/openapi-processor-spring">
          <i class="fab fa-github"></i> oap-spring
        </a>

        <a class="" href="https://github.com/openapi-processor/openapi-processor-micronaut">
          <i class="fab fa-github"></i> oap-micronaut
        </a>

        <a class="" href="https://github.com/openapi-processor/openapi-processor-base">
          <i class="fab fa-github"></i> oap-base
        </a>

        <a class="" href="https://github.com/openapi-processor/openapi-processor-json">
          <i class="fab fa-github"></i> oap-json
        </a>
      </div>
    </div>

  </div>

</footer>
